# Ignore compiled c python
*.pyc

# Ignore analysis Jupyter notebooks
TestingNotebooks/
*.ipynb

# Ignore test caches
.cache/v/cache/lastfailed
.ipynb_checkpoints/SOSSTesting-checkpoint.ipynb
.pytest_cache/
Data/.DS_Store
